general {
        output_format = "i3bar"
        colors = true
        interval = 5
}

order += "disk /"
order += "ethernet eth0"
order += "memory"
order += "load"
order += "tztime local"
order += "tztime kuwait"
order += "battery 0"

# comment out the battery line for desktop system

ethernet eth0 {
        format_up = "NET: %ip (%speed)"
        format_down = "NET: down"
}

tztime local {
        format = "LOCAL: %Y-%m-%d %H:%M:%S"
        hide_if_equals_localtime = false
}

tztime kuwait {
        format = "KUWAIT: %Y-%m-%d %H:%M:%S %Z"
        timezone = "Asia/Kuwait"
}

load {
        format = "LOAD: %5min"
}

memory {
        format = "RAM: %used"
        threshold_degraded = "10%"
        format_degraded = "RAM LOW: %free free"
}

disk "/" {
        format = "DISK: %free free"
}

read_file uptime {
        path = "/proc/uptime"
        format = "UP: %content"
}

battery 0 {
	format = "%status %percentage %remaining"
	path = "/sys/class/power_supply/BAT1/uevent"
	low_threshold = 20
}
